/capaDeEnlace/nbproject/private/
/capaDeEnlace/build/
/capaDeEnlace/dist/
/capaDeEnlace/build/classes/
/capaDeEnlace/build/classes/capadeenlace/
/capaDeEnlace/nbproject/private/private.properties
/capaDeEnlace/build/built-jar.properties